In [ ]:
import pandas as pd
df = pd.read_csv('/content/sample_data/2004.csv')
df.head(10)
summary = df.describe()
print(summary)

            Year         Month    DayofMonth     DayOfWeek       DepTime  \
count  7129270.0  7.129270e+06  7.129270e+06  7.129270e+06  7.001513e+06
mean      2004.0  6.549743e+00  1.576378e+01  3.943603e+00  1.346557e+03
std          0.0  3.437392e+00  8.801830e+00  1.986255e+00  4.736455e+02
min       2004.0  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%       2004.0  4.000000e+00  8.000000e+00  2.000000e+00  9.360000e+02
50%       2004.0  7.000000e+00  1.600000e+01  4.000000e+00  1.331000e+03
75%       2004.0  1.000000e+01  2.300000e+01  6.000000e+00  1.735000e+03
max       2004.0  1.200000e+01  3.100000e+01  7.000000e+00  2.750000e+03

         CRSDepTime       ArrTime    CRSArrTime     FlightNum  \
count  7.129270e+06  6.987729e+06  7.129270e+06  7.129270e+06
mean   1.340792e+03  1.496638e+03  1.503662e+03  2.091414e+03
std    4.623599e+02  4.950194e+02  4.768856e+02  1.955000e+03
min    0.000000e+00  1.000000e+00  0.000000e+00  1.000000e+00
25%    9.350000e+02  1.119000e+03  1.125000e+03  5.920000e+02
50%    1.330000e+03  1.521000e+03  1.525000e+03  1.413000e+03
75%    1.725000e+03  1.915000e+03  1.912000e+03  3.202000e+03
max    2.359000e+03  2.955000e+03  2.400000e+03  9.912000e+03

       ActualElapsedTime  ...      Distance        TaxiIn       TaxiOut  \
count       6.987729e+06  ...  7.129270e+06  7.129270e+06  7.129270e+06
mean        1.233826e+02  ...  7.136000e+02  7.846626e+00  1.572268e+01
std         7.062332e+01  ...  5.718568e+02  4.662986e+01  1.529575e+01
min        -7.100000e+02  ...  6.000000e+00  0.000000e+00  0.000000e+00
25%         7.200000e+01  ...  3.060000e+02  4.000000e+00  1.000000e+01
50%         1.040000e+02  ...  5.450000e+02  5.000000e+00  1.300000e+01
75%         1.540000e+02  ...  9.380000e+02  7.000000e+00  1.900000e+01
max         1.744000e+03  ...  4.962000e+03  1.473000e+03  3.905000e+03

          Cancelled      Diverted  CarrierDelay  WeatherDelay      NASDelay  \
count  7.129270e+06  7.129270e+06  7.129270e+06  7.129270e+06  7.129270e+06
mean   1.792007e-02  1.933438e-03  2.641655e+00  7.065885e-01  3.432659e+00
std    1.326610e-01  4.392835e-02  1.635026e+01  8.630164e+00  1.480823e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00 -2.500000e+01
25%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
max    1.000000e+00  1.000000e+00  1.879000e+03  1.230000e+03  1.380000e+03

       SecurityDelay  LateAircraftDelay
count   7.129270e+06       7.129270e+06
mean    2.513848e-02       3.445825e+00
std     1.245168e+00       1.683761e+01
min     0.000000e+00       0.000000e+00
25%     0.000000e+00       0.000000e+00
50%     0.000000e+00       0.000000e+00
75%     0.000000e+00       0.000000e+00
max     5.330000e+02       1.344000e+03

[8 rows x 24 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7129270 entries, 0 to 7129269
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     int64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       int64
 25  WeatherDelay       int64
 26  NASDelay           int64
 27  SecurityDelay      int64
 28  LateAircraftDelay  int64
dtypes: float64(6), int64(18), object(5)
memory usage: 1.5+ GB

In [ ]:
null_counts = df.isnull().sum()
print(null_counts)

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               127757
CRSDepTime                 0
ArrTime               141541
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                  127
ActualElapsedTime     141541
CRSElapsedTime             0
AirTime               141541
ArrDelay              141541
DepDelay              127757
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     7001506
Diverted                   0
CarrierDelay               0
WeatherDelay               0
NASDelay                   0
SecurityDelay              0
LateAircraftDelay          0
dtype: int64

In [ ]:
columns_with_null = df.columns[df.isnull().any()]


for column in columns_with_null:
    df[column] = pd.to_numeric(df[column], errors='coerce').fillna(0)


    mean_value = df[column].mean()
    df[column].fillna(mean_value, inplace=True)
updated_file_path = 'updated_dataset.csv'
df.to_csv(updated_file_path, index=False)

print(f'Null values replaced with means. Updated dataset saved to {updated_file_path}')

Null values replaced with means. Updated dataset saved to updated_dataset.csv

In [ ]:
df2 = pd.read_csv('/content/updated_dataset.csv')
df2.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2004,1,12,1,623.0,630,901.0,915,UA,462,...,7,11,0,0.0,0,0,0,0,0,0
1,2004,1,13,2,621.0,630,911.0,915,UA,462,...,16,16,0,0.0,0,0,0,0,0,0
2,2004,1,14,3,633.0,630,920.0,915,UA,462,...,4,15,0,0.0,0,0,0,0,0,0
3,2004,1,15,4,627.0,630,859.0,915,UA,462,...,4,10,0,0.0,0,0,0,0,0,0
4,2004,1,16,5,635.0,630,918.0,915,UA,462,...,3,13,0,0.0,0,0,0,0,0,0
5,2004,1,17,6,628.0,630,905.0,915,UA,462,...,5,11,0,0.0,0,0,0,0,0,0
6,2004,1,19,1,650.0,630,944.0,915,UA,462,...,3,11,0,0.0,0,20,0,9,0,0
7,2004,1,20,2,627.0,630,904.0,915,UA,462,...,3,10,0,0.0,0,0,0,0,0,0
8,2004,1,21,3,623.0,630,903.0,915,UA,462,...,16,8,0,0.0,0,0,0,0,0,0
9,2004,1,22,4,626.0,630,901.0,915,UA,462,...,4,14,0,0.0,0,0,0,0,0,0

In [ ]:
null_counts = df2.isnull().sum()
print(null_counts)

Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [ ]:
Row_count = len(df2)
Row_count

7129270

In [ ]:
row_count2 = len(df)
row_count2

7129270

In [ ]:
flight_data = pd.read_csv('/content/sample_data/2004.csv')
count = len(flight_data)
count

7129270

In [ ]:
import pandas as pd

In [ ]:
null_counts = new_file.isnull().sum()
print(null_counts)

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                64442
CRSDepTime                 0
ArrTime                70096
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                42452
ActualElapsedTime      70096
CRSElapsedTime           407
AirTime                70096
ArrDelay               70096
DepDelay               64442
Origin                     0
Dest                       0
Distance                   0
TaxiIn                 70096
TaxiOut                64442
Cancelled                  0
CancellationCode     2324775
Diverted                   0
CarrierDelay         1804634
WeatherDelay         1804634
NASDelay             1804634
SecurityDelay        1804634
LateAircraftDelay    1804634
dtype: int64

In [ ]:
new_file['DepTime'] = new_file['DepTime'].fillna(new_file['DepTime'].mean())
new_file['ArrTime'] = new_file['ArrTime'].fillna(new_file['ArrTime'].mean())
new_file['ActualElapsedTime'] = new_file['ActualElapsedTime'].fillna(new_file['ActualElapsedTime'].mean())
new_file['ArrDelay'] = new_file['ArrDelay'].fillna(new_file['ArrDelay'].mean())
new_file['DepDelay'] = new_file['DepDelay'].fillna(new_file['DepDelay'].mean())
new_file['Distance'] = new_file['Distance'].fillna(new_file['Distance'].mean())

In [ ]:
new_file['AirTime'] = new_file['AirTime'].fillna(new_file['AirTime'].mean())

In [ ]:
new_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5351983 entries, 0 to 5351982
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   float64
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(13), int64(12), object(4)
memory usage: 1.2+ GB

In [ ]:
new_file['ArrTime'] = new_file['ArrTime'].fillna(new_file['ArrTime'].mean())

In [ ]:
null_counts = new_file.isnull().sum()
print(null_counts)

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                    0
CRSDepTime                 0
ArrTime                    0
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                42452
ActualElapsedTime          0
CRSElapsedTime           407
AirTime                    0
ArrDelay                   0
DepDelay                   0
Origin                     0
Dest                       0
Distance                   0
TaxiIn                 70096
TaxiOut                64442
Cancelled                  0
CancellationCode     2324775
Diverted                   0
CarrierDelay         1804634
WeatherDelay         1804634
NASDelay             1804634
SecurityDelay        1804634
LateAircraftDelay    1804634
dtype: int64

In [ ]:
new_file['CRSElapsedTime'] = new_file['CRSElapsedTime'].fillna(new_file['CRSElapsedTime'].mean())
new_file['TaxiIn'] = new_file['TaxiIn'].fillna(new_file['TaxiIn'].mean())
new_file['TaxiOut'] = new_file['TaxiOut'].fillna(new_file['TaxiOut'].mean())

In [ ]:
new_file['CRSElapsedTime'] = new_file['CRSElapsedTime'].fillna(new_file['CRSElapsedTime'].mean())

In [ ]:
new_file['Cancelled'] = new_file['Cancelled'].fillna(new_file['Cancelled'].mean())
new_file['Diverted'] = new_file['Diverted'].fillna(new_file['Diverted'].mean())

In [ ]:
most_frequent_tailnum = new_file['TailNum'].mode()[0]
new_file['TailNum'].fillna(most_frequent_tailnum, inplace=True)

In [ ]:
new_file.drop('CancellationCode', axis=1, inplace=True)

In [ ]:
null_counts = new_file.isnull().sum()
print(null_counts)

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                    0
CRSDepTime                 0
ArrTime                    0
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
ActualElapsedTime          0
CRSElapsedTime             0
AirTime                    0
ArrDelay                   0
DepDelay                   0
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
Diverted                   0
CarrierDelay         1804634
WeatherDelay         1804634
NASDelay             1804634
SecurityDelay        1804634
LateAircraftDelay    1804634
dtype: int64

In [ ]:
null_counts = new_file.isnull().sum()
print(null_counts)

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                    0
CRSDepTime                 0
ArrTime                    0
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              5092157
ActualElapsedTime          0
CRSElapsedTime             0
AirTime              5092157
ArrDelay                   0
DepDelay                   0
Origin                     0
Dest                       0
Distance                   0
TaxiIn               5092157
TaxiOut              5092157
Cancelled                  0
Diverted                   0
CarrierDelay         5092157
WeatherDelay         5092157
NASDelay             5092157
SecurityDelay        5092157
LateAircraftDelay    5092157
dtype: int64

In [ ]:

sample_size = 30000
random_sample = new_file.sample(n=sample_size, random_state=42)

In [ ]:

random_sample['Delayed'] = random_sample.apply(lambda row: 'N' if row['ArrDelay'] <= 0 and row['DepDelay'] <= 0 else 'Y', axis=1)
random_sample.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Delayed
990131,2008,2,17,7,713.0,715,910.0,825,MQ,4223,...,19.0,26.0,0,0,0.0,0.0,45.0,0.0,0.0,Y
1155962,2008,2,20,3,1428.0,1305,1941.0,1808,CO,1588,...,8.0,34.0,0,0,0.0,0.0,19.0,0.0,74.0,Y
86972,2008,1,29,2,1025.0,1015,1141.0,1135,WN,2300,...,4.0,16.0,0,0,NaN,NaN,NaN,NaN,NaN,Y
283457,2008,1,22,2,1626.0,1630,1747.0,1807,US,162,...,5.0,11.0,0,0,NaN,NaN,NaN,NaN,NaN,N
2268179,2008,4,24,4,1800.0,1800,2051.0,2025,AA,411,...,5.0,31.0,0,0,0.0,0.0,26.0,0.0,0.0,Y

In [ ]:
count_row1 = len(random_sample)
count_row1

30000

In [ ]:
random_sample.to_csv('Bharat_1996.csv', index = False)

In [ ]:
import pandas as pd

files = ['/content/sample_data/Pratik_2004.csv', '/content/Bharat_1996.csv', '/content/sample_data/1988_30,000.csv', '/content/sample_data/2000_30,000.csv', '/content/karan_1996.csv', '/content/sample_data/1992_30,000.csv']

dfs = []

for file in files:
    df = pd.read_csv(file)
    dfs.append(df)

concatenated_data = pd.concat(dfs, ignore_index=True)

concatenated_data.to_csv('Everyone_BigData_Final.csv')

In [ ]:
import pandas as pd
everyone_bigData = pd.read_csv('/content/sample_data/Everyone_BigData_Final.csv')

<ipython-input-57-536328aa3ddf>:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  everyone_bigData = pd.read_csv('/content/sample_data/Everyone_BigData_Final.csv')

In [ ]:
null_count = everyone_bigData.isnull().sum()

print(null_count)

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                   0
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum               60000
ActualElapsedTime         0
CRSElapsedTime            0
AirTime               60000
ArrDelay                  0
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                60000
TaxiOut               60000
Cancelled                 0
Diverted                  0
CarrierDelay         142599
WeatherDelay         142599
NASDelay             142599
SecurityDelay        142599
LateAircraftDelay    142599
Delayed                   0
dtype: int64

In [ ]:
columns_to_remove = ['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']

everyone_bigData = everyone_bigData.drop(columns=columns_to_remove)

In [ ]:
null_count = everyone_bigData.isnull().sum()

print(null_count)

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                  0
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum              60000
ActualElapsedTime        0
CRSElapsedTime           0
AirTime              60000
ArrDelay                 0
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn               60000
TaxiOut              60000
Cancelled                0
Diverted                 0
Delayed                  0
dtype: int64

In [ ]:
everyone_bigData['AirTime'] = everyone_bigData['AirTime'].fillna(everyone_bigData['AirTime'].mean())
everyone_bigData['TaxiIn'] = everyone_bigData['TaxiIn'].fillna(everyone_bigData['TaxiIn'].mean())
everyone_bigData['TaxiOut'] = everyone_bigData['TaxiOut'].fillna(everyone_bigData['TaxiOut'].mean())

In [ ]:
null_count = everyone_bigData.isnull().sum()

print(null_count)

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                  0
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum              60000
ActualElapsedTime        0
CRSElapsedTime           0
AirTime                  0
ArrDelay                 0
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                   0
TaxiOut                  0
Cancelled                0
Diverted                 0
Delayed                  0
dtype: int64

In [ ]:
most_frequent_tailnum1 = everyone_bigData['TailNum'].mode()[0]
everyone_bigData['TailNum'].fillna(most_frequent_tailnum1, inplace=True)

In [ ]:
null_count = everyone_bigData.isnull().sum()

print(null_count)

Unnamed: 0           0
Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
Diverted             0
Delayed              0
dtype: int64

In [ ]:
everyone_bigData['ArrDelay'] = everyone_bigData['ArrDelay'].astype(int)
everyone_bigData['DepDelay'] = everyone_bigData['DepDelay'].astype(int)

In [ ]:
everyone_bigData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180000 entries, 0 to 179999
Data columns (total 25 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         180000 non-null  int64
 1   Year               180000 non-null  int64
 2   Month              180000 non-null  int64
 3   DayofMonth         180000 non-null  int64
 4   DayOfWeek          180000 non-null  int64
 5   DepTime            180000 non-null  float64
 6   CRSDepTime         180000 non-null  int64
 7   ArrTime            180000 non-null  float64
 8   CRSArrTime         180000 non-null  int64
 9   UniqueCarrier      180000 non-null  object
 10  FlightNum          180000 non-null  int64
 11  TailNum            180000 non-null  object
 12  ActualElapsedTime  180000 non-null  float64
 13  CRSElapsedTime     180000 non-null  float64
 14  AirTime            180000 non-null  float64
 15  ArrDelay           180000 non-null  int64
 16  DepDelay           180000 non-null  int64
 17  Origin             180000 non-null  object
 18  Dest               180000 non-null  object
 19  Distance           180000 non-null  float64
 20  TaxiIn             180000 non-null  float64
 21  TaxiOut            180000 non-null  float64
 22  Cancelled          180000 non-null  int64
 23  Diverted           180000 non-null  int64
 24  Delayed            180000 non-null  object
dtypes: float64(8), int64(12), object(5)
memory usage: 34.3+ MB

In [ ]:
everyone_bigData.to_csv('Everyone_Final.csv')